.container {
    text-align: center;
}

.container .calculator {
    display: inline-block;
    background-color: rgb(56, 56, 56);
    padding: 23px;
    border-radius: 53px;
}

table {
    margin: auto;
    margin-top: 15px;
}

input {
    border-radius: 15px;
    border: 2px solid gray;
    width: 410px;
    font-size: 34px;
    text-align: center;
}

button {
    margin: 2px;
    border: none;
    font-size: 30px;
    border-radius: 20px;
    background-color: rgb(153, 153, 153);
    width: 100px;
    height: 57px;
    cursor: pointer;
}